<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品编辑</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../css/zpageNav.css" rel="stylesheet" />
 
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

  



</head>

<body class="hold-transition skin-red sidebar-mini">

    <!-- 正文区域 -->
    <section class="content" id="all">

        <div class="box-body">

            <!--tab页-->
            <div class="nav-tabs-custom">

                <!--tab头-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#type_tab" data-toggle="tab">订单详情</a>
                    </li>


                </ul>
                <!--tab头/-->

                <!--tab内容-->
                <div class="tab-content">

                    <!--表单内容-->
                    <div class="tab-pane active" id="type_tab">
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="刷新" @click="window.location.reload();"><i
                                                class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!--工具栏/-->

                            <!--数据列表-->
                            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                    <tr>
                                                                            
                                       
										<th class="sorting">订单号</th>
										<th class="sorting">桌号</th>									
										<th class="sorting">订单总价</th>	
										<th class="sorting">支付状态</th>
										<th class="sorting">上菜状态</th>
										<th class="sorting">是否转账</th>
										<th class="sorting">下单时间</th>
										
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="dish in dishList">
                                      
                                     
                                       <td>{{dish.orderNo}}</td>
										<td>{{dish.tableNum}}</td>										
										<td>{{dish.cost}}元</td>
										
										<td v-if="dish.orderStatus == 0" ><h5 ref="status">未支付</h5></td>
										<td v-else-if="dish.orderStatus == 1" ><h5 value="1" id="status1">已支付商家</h5></td>
										<td v-else="dish.orderStatus == 2" ><h5 value="2" id="status2">已支付吃货</h5></td>
										
										<td v-if="dish.dishStatus == 0" ><h5 ref="status">未上菜</h5></td>
										<td v-else="dish.dishStatus == 1" ><h5 value="1" id="status3">已上菜</h5></td>
										
										<td v-if="dish.ifTransfer == 0" ><h5 ref="status">未转账</h5></td>
										<td v-else="dish.ifTransfer == 1" ><h5 value="1" id="status3">已转账</h5></td>
										
										<td>{{dish.createTime}}</td>
										
                                    </tr>
                                </tbody>
                            </table>
                            <!--数据列表/-->


                        </div>
                    </div>






                </div>
                <!--tab内容/-->
                <!--表单内容/-->

            </div>




        </div>
      


    </section>



    <!-- 正文区域 /-->
    <script type="text/javascript">
  
  //var shopId = 23;
        new Vue({
            el: '#all',
            data: {
                checked: false,
                dishList: [],
                ids: [],
                checkedAll: [],
                page: 1,  //显示的是哪一页
                pageSize: 10, //每一页显示的数据条数
                total: 10, //记录总数
                maxPage:2,
                shopId:1,
                value:'',
                orderId : 0
            },
            created: function () {
            	var loc = location.href;
          	   var n1 = loc.length;//地址的总长度
          	   var n2 = loc.indexOf("=");//取得=号的位置
          	   var id = decodeURI(loc.substr(n2+1, n1-n2));//从=号后面的内容
          	 // console.info(JSON.stringify(id.cost));
                this.orderId = id.split("&")[0];
                this.shopId = id.split("&shopId=")[1];
                console.info( this.shopId);
                this.getData();
               
            },
            methods: {
              
                
                getData: function () {
         
                    this.$http.get('http://localhost:9527/operater/consumer/shoporder/findOrderItem/'+
                        this.orderId +'/'+this.shopId,  {credentials: true } ).then(function (response) {
                        this.dishList = response.body;           
                    }, function (response) {
                        // 发生错误
                      console.info(response);
                        alert("发生错误")
                    }); 
                    
                },
               
                
            },
            watch: {
                "ids": function () {
                    if (this.ids.length == this.checkedAll.length) {
                        this.checked = false
                    } else {
                        this.checked = true
                    }
                }
            }
        })

    </script>

</body>

</html>